.password{
	position: relative;
}

.password i{
	    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;

}

.login form {
	margin: 25px 0;
}
.login label{
	font-size: 15px;
	margin: 10px 5px;
}
.login a:hover{

	color: #393c3d;
	transition: 0.2s;
}

.form-control{
	margin-bottom: 15px;
}

.btn_login {
	width: 100%;
	text-align: center;
	margin: 15px 5px;
}

.btn_login a{

	padding: 10px 30px;
	border-radius: 10px;
	font-size:16px;
	font-weight: 600;
	background-color: #393c3d;
	color: #ffffff;
	transition: 0.2s;

}
.btn_login a:hover{
	color: #ffffff;
	background-color:#e9445a;
	transition: 0.2s;
}

.login_bg h6{
	    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}

.login_bg a{
	color: #ffffff;
	padding: 10px 25px;
	border-radius: 10px;
    box-shadow: inset 0 0 0 1px #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}

.login_bg a:hover{
	    box-shadow: inset 0 0 0 100px #ffffff;
	    color: #e9445a;
	    transition: 0.5s;

}
.get_app {
	margin: 50px 0;
}

.left_logo img{

	width: 80px;

}

.inner_links li {
	display: block;


}

.inner_links {
	list-style: none;
	display: block;
  max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.dashbord{

    padding: 50px 100px;
      overflow-x:hidden ;
    width: 100%;
    height: 100%;
    position: absolute;
}

.link{
	padding: 25px 0;
	list-style: none;
    transition: height 0.5s ease-out;
}
.link ul {
	list-style: none;
	padding: 0;
	margin: 15px;
}

.over{
	cursor: pointer;
}

.show_dawn{
	 max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.rotate{
	transform: rotate(90deg);
	transition: 0.2s;
}

 .over .fas {
    font-weight: 900;
    transition: 0.5s;
}

.link a{
	display: block;
	color: #393c3d;
	text-decoration: none;
	font-size: 16px;
	margin: 15px;
	transition: 0.2s;


}

.link a:hover{
	color: #e9445a;
	transition: 0.2s;
}

iframe{
	text-align: center;
	width: 100%;
	min-height: 800px;
	border:0;
}

.main ul{
	padding: 15px 0;
    list-style: none;
    display: flex;
    height: fit-content;
    margin-bottom: 25px;
    margin: 20px 0;


}

.main ul li{
	margin: 5px 0;
}

.main ul li a {
   
    margin: 0 15px;
    border-radius: 10px;
    text-align: center;
    color: #393c3d;
    display: block;
    	transition: 0.2s;
        font-size: 15px;


}
.main ul li a:hover {
	color: #e9445a;
	transition: 0.2s;
    text-decoration: none;
}
.acc a{
	margin-right: 2px;
	font-size: 16px;
	text-decoration: none;
        color: #e9445a;


}

.main h6{
	margin-bottom: 25px;
}

.main h1{
	margin-bottom: 25px;
        font-size: 25px;
    font-weight: 600;
    opacity: 0.7;
}

}
.acc{    
    height: fit-content;
    margin: 15px 0;
}
.dropdown-menu a{
    color: #337ab7;
}

.all{
	padding: 10px;
	width: 100%;
	position: absolute;
	left: 0;
transition: all 0.5s;


}

.all h5{
}
.main{
	width: 100%;
}

.box{
border-radius: 20px;
    box-shadow: 0px 1px 5px 1px #cecececc;

        padding: 15px;
    margin: 10px;
    height: 170px;
        width: 100%;
            background-color: #00000002;


    }

    .left {
    	text-align:end ;
    	position: relative;
    	    top: -30px;

    }
    .left a{
    	margin: 0 5px;
    	
    }

    @media(max-width: 950px){
.dashbord {
    padding: 50px 10px;
}

    }

    @media(max-width: 769px){

    	.main ul li a {
    padding: 10px 0px;
 
}
    }

    @media(max-width: 549px){
    	.main ul li a{ 
    	   margin: 15px 5px;
    	    padding: 10px 0px;
}


				
    }


@media(max-width: 350px){

	.main ul{
		display: block;

	}
}

@media(max-width: 362px){
	.acc a{
		padding: 18px 0;
	}
}

.Transactions h2{
font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    color: #616161b5;

        margin-bottom: 50px;

}

.Transactions {
	    position: absolute;
    top: 0;
    right: -3000px;
    padding: 10px;
    width: 100%;
    display: none;
    transition: all 0.5s;
}

.ope_img{
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: #e9445a;
	margin: 20px 0;
	padding:0;
    color: #ffffff;
    font-size: 25px;
}

.ope_img i{
	font-size: 25px;
	margin: 10px auto;
}

.ope_img img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin: 7px auto;
}

.operation{

	    display: flow-root;
    width: 100%;
    box-shadow: 0px 1px 5px 1px #cecececc;
    padding: 5px 25px;
    border-radius: 10px;
}

.tite{
	margin: 0 20px;
}
.amount{
	    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    margin: 25px 0;
}

.tite h3{
	    font-weight: 600;
    color: #393c3dcc;
font-size: 20px;
}
.amount p{
	font-size: 16px;
	color: #000000;
	text-align: end;
}
.tite h6{
	
color:#0000007a;

 }

 .account_tr{
 	position: relative;
 }

 .Transactions h6{
 	margin-bottom: 5px;
 	font-size: 14px;
 	margin: 10px 5px;
 }

 .operation .row{
 	border-bottom: 1px solid #cacaca3b;
 }

 @media(max-width: 400px){

 	.operation {
 		padding: 5px;
 	}

 	.tite h3{
 		font-size: 15px;
 	}
 }

 @media(max-width: 767px){

 	.link {
    padding:  0; 
    list-style: none;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-out;
 }



}

 @media(min-width: 768px){
 	.menu_bar{
 		display: none;
 	}
 }

.menu_bar span{
    height: 3px;
    width: 20px;
    background-color: #e9445a;
    border-radius: 10px;
    display: block;
    margin: 2px;

}
.menu_bar{
	float: right;
}
.hightt{
	height: 100%;
    transition: height 0.5s ease-out;
}

.flag{    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 40px;}

    .flag img{
    	    width: 100%;
    height: 100%;
    border-radius: 100%;
    }

    .visa_card{
    	    box-shadow: 0px 1px 5px 1px #cecececc;

    	     height: 225px;
    padding: 15px;
    border-radius: 10px;

    margin: 15px 0;


    }

    .visa_card i{
    	    float: right;
    font-size: 40px;
    opacity: 0.5;
    position: absolute;
    top: 45px;
    right: 30px;

    }

       .visa_card h1{
       	font-size: 25px;
       	font-weight: 600;
       	opacity: 0.5;


       }

       .info_card{
       	margin-top: 70px;
       }
       .info_card h3{
       		font-size: 20px;
    		font-weight: 600;
       }

              .info_card h4{
              	font-weight: 600;

}



.switch {
     display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
    top: 25px;
   

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.block_details{
	    	    box-shadow: 0px 1px 5px 1px #cecececc;
	    	    border-radius: 10px;

}

.line_details{
	position: relative;
	padding: 15px;
	    border-bottom: 1px solid #a6a6a62e;
	    display: flex;

}

.usage{
	    margin: 15px 0;

}


.line_details h3{
	font-size: 20px;
	font-weight: 600;
}

.line_details h6{
	opacity: 0.5;
font-size: 14px;}

.card_d h2{
	font-size: 25px;
    font-weight: 600;
    color: #393b3c;
}

.usage h4{

	font-size: 17px;
    font-weight: 600;

}

.action_line i{
	    font-size: 25px;
    padding:  20px;
    box-shadow: 0px 1px 5px 1px #cecececc;
    margin: 0 15px;
    border-radius: 10px;
    color: #393b3c;
    opacity: 0.5;
    height: fit-content;

}

    .action_line{
    	display: inline-flex;
    	    margin: 15px 0;

    }

    .action_active{
    	color: #e9445a !important;
    	opacity: 1 !important;
    }

    .action_line h4{
    	word-spacing: 2px;
    	letter-spacing: 1px;
    	font-size: 17px;
    	font-weight: 600;
    	opacity: 0.8;
    }

        .action_line h6{

        	letter-spacing: 1px;
    	font-size: 15px;
    	opacity: 0.5;
        }

        .card_action h3{
        	font-size: 20px;
    font-weight: 600;
        }

        .cards_limit{
        	    box-shadow: 0px 1px 5px 1px #cecececc;
        	    border-radius: 10px;
        	            	padding: 20px;
        	            	overflow: hidden;
        	            	    margin-bottom: 25px;




        }


        .limits_line{
        	display: inline-flex;
        	border-bottom: 1px solid #a6a6a62e;
        }

        .limit_amount{
        	text-align: center;
        	padding: 25px;


        }

        .limit_amount p{
        	    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
        }

        .limits_line h3{

        	font-size: 20px;
        	font-weight: 600;
        }

        .limits_line h6{

        	letter-spacing: 0.5px;
    	font-size: 14px;
    	opacity: 0.5;

        }


        .current{
        	font-size: 25px;
    font-weight: 600;
    color: #393b3c;
        }

        .card_d{

        	right: 0;
        	overflow: hidden;
        	width: 100%;
        	transition: 0.2s;

        }

        .other_card{
        	margin: 5px 15px;
        	font-size: 16px;
            text-align: end;
            width: 90%;

        }
        .other_card a{
        	color: #e9445a;
        	text-decoration: none;
        	cursor: pointer;
            margin: 5px;
        }

        .card_right{
        		position: absolute;
        	right: 3000px !important;
        	overflow: hidden;
        	width: 100%;
        	transition: 0.2s;
        }


      
.box h1{
    font-size: 20px;
}

.all .row{

       box-shadow: 0px 1px 5px 1px #cecececc;
   
}

.primary{
    justify-content: space-between;
    display: flex;
    font-size: 15px;
    margin: 5px 15px;
    padding: 15px 0;
}

.primary h6{
    font-size: 15px;
    margin: 5px 15px;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    opacity: 0.7;
}
.primary a{
    margin: 0 5px;
}

.iban{
    text-align: center;
    border-bottom: 1px solid #cecececc;
        padding: 100px 0;

}

.iban h6{
    margin: 15px 0;
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 1px;
        font-family: monospace;

}

.iban h4{
       margin: 25px;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-weight: 600;
    opacity: 0.8;

}

.line_head{
    display: flex;
    justify-content: space-between;
}

.line_head h6{

    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
    margin: 15px 5px;
}

.currency_flag img{
    width: 100%;
        border-radius: 100%;
        width: 36px;
    height: 36px;


}

.currency_flag {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
}
.line_accounts{
    display: flex;
    justify-content: space-between;
        border-bottom: 1px solid #cecece3d;
        padding: 10px;
            transition: 0.2s;



}
.currency_flag h6{
         font-size: 16px;
    margin: 12px 15px;
    font-weight: 600;
    line-height: 1;
    opacity: 0.8;


}

.line_accounts h6{
    font-size: 17px;
    font-weight: 600;
    opacity: 0.8;
letter-spacing: 1px;
}
.line_accounts:hover{
    background-color: #00000005;
    transition: 0.2s;
}

.flex_cl{
    display: flex;
    justify-content: space-between;
}

.dropdown-menu{
    border:0;
    box-shadow: 0 0 0 0;
}
.open>.dropdown-menu {
    display: grid !important;
}


.show i{
    color: #e9445a;

}



.profile_name{

    color: #393b3c !important;
    opacity: 0.8;
    margin-left: 10px;
        transition: 0.2s;

}

.profile_name:hover {

    opacity: 1;
    transition: 0.2s;

}

.sectors{
           box-shadow: 0px 1px 5px 1px #cecececc;

}


.currency{
    margin: 5px 15px;
}

.trans_p1 p{
    margin: 0;
        border-bottom: 1px solid #00000012;

}

.trans_date{
    display: flex;
}

.trans_date p{
    border-bottom: 0px solid #cecececc;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
    margin: 15px 0;


}

.trans_date i{
    padding: 15px;
    background-color: #00000030;
    border-radius: 100%;
    margin: 10px 0;
}

.trans_date .col-md-8{
        height: fit-content;
    margin: 5px;
}

.trans_date h5{
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;}

.trans_date h6{
    margin: 5px 5px;
    font-size: 12px;
    opacity: 0.5;
    }


    @media(max-width: 1317px){

        .dashbord {
    padding: 50px 0px;
}
    }


    @media(max-width: 1070px){
        .main ul li a {
    margin: 0 5px;}
    }


    @media(max-width: 1024px){

        .main ul {
    padding: 0;
    list-style: none;
    display: flex;
    height: fit-content;
    margin-bottom: 25px;
    margin: 5px 0;
}


.flex_cl {
    display: block;}


    .acc{
            margin: 10px 15px;

    }
    }